/* A custom css for app */
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

main {
    flex-grow: 1;
    margin-top: 10vh;
}
header{
    margin-top: 0;
}
footer {
    margin-bottom: 0;
    width: auto;
    min-height: 100%;
}
