<div class="author">
    <h1 class="author__heading">Welcome!</h1>
    <p class="author__body">Content rich blog for passionate Developers!</p>
</div>


<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">

    </ul>




</section>