
<div class="author">
    <h1 class="text-3xl font-bold underline">
        TailwindCSS
    </h1>
    <h1 class="text-2xl font-bold">Welcome!</h1>
    <p class="author_body">Content rich blog for passionate Developers!</p>
</div>


<section class="articles">
    <h2 class="articles_heading">Latest Posts</h2>

    <ul class="article-ul">

    </ul>


</section>