<main id="content" role="main">
<div class="max-w-[85rem] mx-auto min-h-screen bg-white border-x-gray-200 py-10 px-4 sm:px-6 lg:px-8 xl:border-x dark:bg-gray-900 dark:border-x-gray-800">
    <!-- Section1-->
    <section class="max-w-3xl">
        <p class="mb-2 text-sm font-semibold text-blue-600">Latest Posts</p>
        <h1 class="block text-2xl font-bold text-gray-800 sm:text-3xl dark:text-white">View Posts</h1>
        <p class="mt-2 text-lg text-gray-800 dark:text-gray-400">Explore what others are interested in.</p>
    </section>
    <!-- End Section1 -->
    <!-- Section2-->
    <p>TODO: Share your own posts : Login...</p>
    <!-- Section3-->
    <section class="max-w-3xl">
        <p class="mb-2 text-sm font-semibold text-blue-600">Socials</p>
        <h1 class="block text-2xl font-bold text-gray-800 sm:text-3xl dark:text-white">Contact Page</h1>
        <p class="mt-2 text-lg text-gray-800 dark:text-gray-400">Reach out to one of our developers!</p>
    </section>
    <!-- End Section3 -->
</div>
</main>