<div>
<span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
    &copy; <%= new Date().getFullYear(); %> Dream Blogger • Full Stack web application by <a href="https://flowbite.com/" class="hover:underline">Nigthguarder</a>.
</span>
</div>
