<!-- views/layouts/layout.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
<!-- Include your header or navigation if applicable -->
<%- body %> <!-- This will include the content of the specific page -->


<!-- Include your footer or other common elements if applicable -->
</body>
</html>
